<!DOCTYPE html>
<html lang="en" ng-app="store">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Angular || Bootstrap</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-controller="StoreController as store">
<!-- 		<div ng-hide="store.products[0].soldOut">
			<h1>{{store.products[0].name}}</h1>
			<h2>{{"$" + store.products[0].price}}</h2>
			<p>{{store.products[0].description}}</p>
			<button ng-show="store.products[0].canPurchase">Add to Cart</button>
		</div>
		<div ng-hide="store.products[1].soldOut">
			<h1>{{store.products[1].name}}</h1>
			<h2>{{"$" + store.products[1].price}}</h2>
			<p>{{store.products[1].description}}</p>
			<button ng-show="store.products[1].canPurchase">Add to Cart</button>
		</div> -->


		<div ng-repeat="product in store.products">
			<h1>{{product.name | uppercase}}</h1>
			<h2>{{product.price | currency}}</h2>
			<p>{{product.description | limitTo: 8}}</p>
			<img ng-src="{{product.images[0].full}}" />
			<button ng-show="product.canPurchase">Add to Cart</button>
		
			<!-- Tab -->
<!-- 			<section ng-init="tab = 1" ng-controller="PanelController as panel">
				<ul class="nav nav-pills">
					<li ng-class="{ active:tab === 1 }"><a href="" ng-click="tab= 1">Description</a></li>
					<li ng-class="{ active:tab === 2 }"><a href="" ng-click="tab= 2">Specification</a></li>
					<li ng-class="{ active:tab === 3 }"><a href="" ng-click="tab= 3">Reviews</a></li>
				</ul>
				<div class="panel" ng-show="tab === 1">
					<h4>Description</h4>
					<p>{{product.description}}</p>
				</div>
				<div class="panel" ng-show="tab === 2">
					<h4>Specification</h4>
					<p>{{product.description}}</p>
					<blockquote>Not Yet</blockquote>
				</div>
				<div class="panel" ng-show="tab === 3">
					<h4>Reviews</h4>
					<blockquote>Not Yet</blockquote>
				</div>			
			</section> -->
		</div>
		<section ng-controller="PanelController as panel">
			<ul class="nav nav-pills">
				<li ng-class="{ active: panel.isSelected(1) }">
					<a href="" ng-click="panel.selectTab(1)">Description</a>
				</li>
				<li ng-class="{ active: panel.isSelected(2) }">
					<a href="" ng-click="panel.selectTab(2)">Specification</a>
				</li>
				<li ng-class="{ active: panel.isSelected(3) }">
					<a href="" ng-click="panel.selectTab(3)">Reviews</a>
				</li>
			</ul>
			<div class="panel" ng-show="panel.isSelected(1)">
				<h4>{{tabCont.heading}}</h4>
				<p>{{product.description}}</p>
			</div>
			<div class="panel" ng-show="panel.isSelected(2)">
				<h4>Specification</h4>
				<p>{{product.description}}</p>
				<blockquote>Not Yet</blockquote>
			</div>
			<div class="panel" ng-show="panel.isSelected(3)">
				<h4>Reviews</h4>
				<blockquote>Not Yet</blockquote>
			</div>			
		</section>

		<!-- include angular file to bind -->
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/myapp.js"></script>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>